<button
  [ngClass]="{
    'bg-blue-500 hover:bg-blue-700 text-white': type === 'primary',
    'bg-gray-500 hover:bg-gray-700 text-white': type === 'secondary',
    'bg-green-500 hover:bg-green-700 text-white': type === 'success',
    'bg-red-500 hover:bg-red-700 text-white': type === 'danger',
    'py-2 px-4 rounded flex items-center': true
  }"
  (click)="handleClick($event)">
  <i [ngClass]="{
    'fa-solid fa-user': icon === 'create',
    'fas fa-pencil-alt': icon === 'edit',
    'fa-solid fa-delete': icon === 'delete'}"></i>
</button>
