<div *ngIf="loading" class="flex justify-center items-center min-h-screen bg-gray-100">
  <app-loading></app-loading>
</div>
<div *ngIf="!loading">
  <app-dialog [isVisible]="isVisible">
      <div *ngIf="loading">
        <app-loading></app-loading>
      </div>
      <div *ngIf="!loading">
        <form [formGroup]="postForm">
          <app-input
            formControlName="userId"
            inputName="userId"
            type="number"
            label="User Id"
            placeholder="Id do usuário">
          </app-input>
          <app-input
            formControlName="title"
            inputName="title"
            type="text"
            label="Title"
            placeholder="Titulo do texto">
          </app-input>
          <app-textarea
            formControlName="body"
            textName="body"
            label="Body"
            textPlaceholder="Corpo do texto">
          </app-textarea>
          <app-textarea
            formControlName="comment"
            textName="comment"
            label="Comment"
            textPlaceholder="Comentário do texto"></app-textarea>
            <div class="text-center">
              <app-button
                iconClass="ri-add-line"
                (buttonClick)="createPost()"></app-button>
              <app-button
                iconClass="ri-close-line"
                type="danger"
                (buttonClick)="closeModal()"></app-button>
            </div>
        </form>
      </div>
  </app-dialog>
  <app-table
    [posts]="posts"
    (addButtonClick)="openModal()"
    (deleteButtonClick)="deletePost($event)"
    (editButtonClick)="updatePost()">
  </app-table>
</div>
